
#intro-container {
  position: relative;
	margin: auto;
text-align: center;
}

#us-map{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mapFrame {
margin: auto;
text-align: center;
  height:550px;
  width:65%;
  
}
iframe {
margin: auto;
text-align: center;
height:545px;
  width:100%;

}
/*-----------------------SMALL SCREEN SIZES------------------------*/
@media screen and (max-width: 767px){
  
  .mapFrame {
  height:550px;
  width:80%;
  
}
	iframe {

height:545px;
  width:100%;

}
  
}
	


/*-----------------------EXTRA SMALL SCREEN SIZES------------------------*/
@media screen and (max-width: 400px){
  
  .mapFrame {
  height:450px;
  width:95%;
  
}

	iframe {

height:445px;
  width:100%;

}
  
}
